/.idea
/logs
/log
/patch
/cthree
/result
/tmp
/sbfl/data
sbfl/ochiai
sbfl/spectra
/target
/patch
/projects
/artifacts
/**/.DS_Store
/GenPat.iml
/resources/**/build
/resources/**/build-tests
/resources/**/target
/resources/db/AllTokens.txt
/resources/d4j-info/location/realtime
*.log

