/.idea
/logs
/log
/patch
/result
/tmp
/sbfl/data
d4j-info/realtime/location/
sbfl/ochiai
sbfl/spectra
/target
/patch
/projects
/artifacts
/**/.DS_Store
/MineFix.iml
/resources/**/build
/resources/**/build-tests
/resources/**/target
resources/db
*.log

